$primary: #3be8b0;
$primary-600: #24a87d;
$primary-700: #187e5d;
$secondary: #636979;
$secondary--60: rgba($secondary, 0.6);
$white: #ffffff;
$bg: #0d1322;
$light: #c5c7cc;

$font: 'Jost', sans-serif;
$shadow: 0 8px 35px rgba(0, 0, 0, 0.4);
$border: 1px solid #1c2439;

$font-normal: 500;
$font-bold: 600;

$noise: url(/assets/images/noise.png);
$md: 768px;
$sm: 640px;
$xs: 359px;
